*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 63, 63);
  }
  
  
  
  .card-img-top{
    height: 250px;
    object-fit: cover;
  }
  
  
  button{
    padding: 11px;
    background-color: rgb(243, 241, 241);
    border: none;
    border-radius: 12px !important;
    
  }
  
  .cartBtn{
    background-color: #e8363c !important;
  }